<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.threecognizant.technotrions.newapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainPage"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BeforeTravelling"
            android:label="@string/title_activity_before_travelling"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".WhileTravelling"
            android:label="@string/title_activity_while_travelling"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AfterReaching"
            android:label="@string/title_activity_after_reaching"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".CheckList"
            android:label="@string/title_activity_check_list"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Comparator"
            android:label="@string/title_activity_comparator"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Hotel"
            android:label="@string/title_activity_hotel"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".LocalTravel"
            android:label="@string/title_activity_local_travel"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".OnlineShopping"
            android:label="@string/title_activity_online_shopping"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Ticketing"
            android:label="@string/title_activity_ticketing"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".TravelGuide"
            android:label="@string/title_activity_travel_guide"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Weather"
            android:label="@string/title_activity_weather"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Games"
            android:label="@string/title_activity_games"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".books"
            android:label="@string/title_activity_books"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".music"
            android:label="@string/title_activity_music"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".messaging"
            android:label="@string/title_activity_messaging"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".OnlineVideos"
            android:label="@string/title_activity_online_videos"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".news"
            android:label="@string/title_activity_news"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
